In [1]:
import pandas as pd # 판다스 라이브러리
import csv # csv 라이브러리


tr = pd.read_csv("student.csv", encoding = 'utf-8')


student_x_data = tr.loc[:, ['age','activities','famsup','paid','internet','Medu','Fedu','studytime','schoolsup','G3']]
student_y_data = tr.loc[:,['pass']]


#,'G1','G2','G3'

In [2]:
student_x_data.head()

,age,activities,famsup,paid,internet,Medu,Fedu,studytime,schoolsup,G3
0,18,0,0,0,0,4,4,2,1,6
1,17,0,1,0,1,1,1,2,0,6
2,15,0,0,1,1,1,1,2,1,10
3,15,1,1,1,1,4,2,3,0,15
4,16,0,1,1,0,3,3,2,0,10

In [3]:
student_y_data.head()

   pass
0     0
1     0
2     1
3     1
4     1

In [4]:
result_x=[]
for i in student_x_data.values:
    result_x.append(list(i))

result_y=[]
for i in student_y_data.values:
    result_y.append(list(i))


print(student_x_data)

     age  activities  famsup  paid  internet  Medu  Fedu  studytime  \
0     18           0       0     0         0     4     4          2
1     17           0       1     0         1     1     1          2
2     15           0       0     1         1     1     1          2
3     15           1       1     1         1     4     2          3
4     16           0       1     1         0     3     3          2
..   ...         ...     ...   ...       ...   ...   ...        ...
390   20           0       1     1         0     2     2          2
391   17           0       0     0         1     3     1          1
392   21           0       0     0         0     1     1          1
393   18           0       0     0         1     3     2          1
394   19           0       0     0         1     1     1          1

     schoolsup  G3
0            1   6
1            0   6
2            1  10
3            0  15
4            0  10
..         ...  ..
390          0   9
391          0  16
392          0   7
393          0  10
394          0   9

[395 rows x 10 columns]

In [5]:
import torch
import torch.nn as nn
import torch.nn.functional as F

# 데이터 (입력 x, 라벨 y)
x_train = torch.FloatTensor(result_x)
y_train = torch.FloatTensor(result_y)

c:\Users\mraen\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
# 학습 구조 모델링
model = nn.Sequential(
    nn.Linear(10,64), # 입력계층 = 1, 은닉계층1 = 5
    nn.ReLU(), # ReLu 활성화 함수
    nn.Linear(64,32), # 은닉 계층2 = 3
    nn.ReLU(), # ReLu 활성화 함수
    nn.Linear(32,2), # 출력계층 = 1
)

# optimizer 설정, 경사 하강법 SGD를 사용하고 학습 속도를 의미하는 lr은 0.001
optimizer = torch.optim.SGD(model.parameters(), lr = 0.005)

In [7]:
# 학습 수행, epochs = 100
n_epochs = 300

# 경사 하강법을 100회 반복
for epoch in range(n_epochs):
    # 모델을 통한 예측 값 계산
    prediction = model(x_train)
    
    # 손실 함수(평균 제곱 오차 함수) 계산
    cost = F.mse_loss(prediction, y_train)
    
    # 파라미터의 기울기(gradient)를 누적시키지 않고 0으로 초기화
    optimizer.zero_grad()
    
    # 비용 함수를 미분하여 기울기 계산
    cost.backward() # 기울기 계산 (역전파)
    
    # W와 b를 업데이트
    optimizer.step()
    
    # 10번 반복마다 로그 출력
    if epoch%10 == 0:
        print('Epoch {:4d}/{} Cost:{:.6f}'.format(epoch, n_epochs, cost.item()))

C:\Users\mraen\AppData\Local\Temp\ipykernel_8168\3430858516.py:10: UserWarning: Using a target size (torch.Size([395, 1])) that is different to the input size (torch.Size([395, 2])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  cost = F.mse_loss(prediction, y_train)

Epoch    0/300 Cost:0.865101
Epoch   10/300 Cost:0.117363
Epoch   20/300 Cost:0.107510
Epoch   30/300 Cost:0.100861
Epoch   40/300 Cost:0.095860
Epoch   50/300 Cost:0.091934
Epoch   60/300 Cost:0.088877
Epoch   70/300 Cost:0.086538
Epoch   80/300 Cost:0.084752
Epoch   90/300 Cost:0.083360
Epoch  100/300 Cost:0.082397
Epoch  110/300 Cost:0.081553
Epoch  120/300 Cost:0.080822
Epoch  130/300 Cost:0.080169
Epoch  140/300 Cost:0.079543
Epoch  150/300 Cost:0.078951
Epoch  160/300 Cost:0.078382
Epoch  170/300 Cost:0.077835
Epoch  180/300 Cost:0.077322
Epoch  190/300 Cost:0.076801
Epoch  200/300 Cost:0.076263
Epoch  210/300 Cost:0.075675
Epoch  220/300 Cost:0.075020
Epoch  230/300 Cost:0.074492
Epoch  240/300 Cost:0.073984
Epoch  250/300 Cost:0.073493
Epoch  260/300 Cost:0.073022
Epoch  270/300 Cost:0.072573
Epoch  280/300 Cost:0.072135
Epoch  290/300 Cost:0.071719

In [8]:
# 라벨 값과 모델 예측 비교
print()
print('y:',y_train.flatten(),)
print('predict:',model(x_train).flatten())

y: tensor([0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 1., 1.,
        0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0.,
        0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1.,
        1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 1.,
        0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0.,
        0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1.,
        0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 1.,
        0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1.,
        0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1.,
        0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 0.,
        0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1.,
        1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0.,
        1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0.])
predict: tensor([ 0.2189,  0.1555,  0.2801,  0.2130,  0.7288,  0.6606,  1.0062,  0.9869,
         0.6385,  0.6804,  1.0536,  1.0266,  0.8097,  0.8118,  0.2060,  0.1742,
         1.1849,  1.2200,  1.0510,  1.0641,  0.4950,  0.6073,  0.8540,  0.8286,
         0.9965,  0.9677,  0.7257,  0.7879,  1.0307,  1.1173,  0.9930,  1.0159,
         0.9919,  1.0001,  0.6724,  0.5467,  0.0678,  0.0584,  0.6091,  0.6065,
         0.9982,  1.0157,  1.0306,  1.0393,  1.0782,  1.0272,  0.9044,  0.8720,
         0.5061,  0.4947,  0.4296,  0.4620,  0.7809,  0.8069,  0.9904,  0.9609,
         0.7848,  0.6918,  0.7086,  0.7453,  0.8192,  0.8875,  1.1332,  1.1442,
         1.0653,  1.0608,  0.8754,  0.8210,  1.0168,  1.0231,  0.2559,  0.2069,
         1.1585,  1.1726,  1.0716,  1.0459,  0.7656,  0.7475,  0.9301,  0.8049,
         0.8223,  0.7704,  0.8268,  0.8415,  1.1816,  1.1955,  0.8050,  0.7579,
         0.6225,  0.4862,  0.1827,  0.1469,  0.7791,  0.7860,  1.2782,  1.2788,
         0.9243,  0.9036,  0.3383,  0.2764,  0.9233,  0.9660,  0.8849,  0.9026,
         0.6291,  0.5808,  0.7130,  0.7284,  0.9152,  0.9197,  0.6964,  0.6340,
         1.0270,  1.0047,  1.0229,  0.9946,  0.6563,  0.5483,  1.0536,  1.0784,
         0.7207,  0.6834,  0.8121,  0.7117,  0.6529,  0.5294,  0.4980,  0.4713,
         0.6603,  0.5404,  1.0481,  1.0312,  0.8279,  0.8125,  0.2566,  0.2231,
         0.4769,  0.4607,  1.0032,  1.0702,  0.9922,  1.0413,  0.6577,  0.6488,
         0.2028,  0.1115,  0.9561,  0.8665,  0.7658,  0.7133,  0.6168,  0.6401,
         0.6193,  0.5439,  0.8165,  0.8356,  0.6753,  0.5389,  0.1677,  0.2033,
         0.8961,  0.8134,  0.8136,  0.8016,  0.1839,  0.2470,  1.0198,  0.9986,
         0.7461,  0.6878,  0.4189,  0.4987,  0.2377,  0.2143,  0.9608,  0.9319,
         0.7133,  0.6648,  0.3139,  0.3523,  0.4240,  0.5069,  1.1791,  1.1175,
         0.2117,  0.1026,  0.5928,  0.5895,  0.9621,  0.9757,  0.7388,  0.6819,
         1.0665,  0.9582,  0.6693,  0.6464,  1.0072,  0.9546,  0.3905,  0.4155,
         0.0882,  0.0936,  1.1564,  1.1686,  0.9990,  0.9620,  0.1996,  0.1970,
         1.1962,  1.2146,  0.7849,  0.7193,  0.4973,  0.4943,  1.1861,  1.2186,
         0.8911,  0.9145,  1.1162,  1.1208,  1.2484,  1.2155,  0.6955,  0.5964,
         0.9592,  0.8753,  1.1912,  1.1720,  0.6265,  0.5274,  1.1100,  1.1110,
         0.9821,  0.9348,  0.9454,  0.8998,  0.5312,  0.4598,  0.9147,  0.9553,
         0.9931,  1.0523,  1.0092,  1.0441,  0.9827,  0.9805,  0.9245,  0.8839,
         0.4651,  0.4786,  0.8553,  0.8168,  0.7917,  0.6858,  0.5823,  0.5445,
        -0.2353, -0.1517,  1.2218,  1.1732, -0.1437, -0.0890, -0.2055, -0.1742,
         0.8493,  0.8949,  0.7499,  0.7724, -0.2039, -0.0622, -0.1559, -0.0848,
        -0.1637, -0.0660, -0.2523, -0.1132,  0.8280,  0.8356,  1.0388,  1.0124,
        -0.1032, -0.1245,  0.5837,  0.5141,  0.7214,  0.7622,  0.8751,  0.9087,
        -0.2072, -0.1907,  0.7589,  0.7877, -0.1968, -0.1440,  0.7864,  0.8567,
        -0.2334, -0.0774,  0.6783,  0.6741, -0.1338, -0.1977,  0.9595,  0.8941,
         0.6769,  0.6963, -0.2310, -0.1657,  0.8137,  0.7519,  0.5009,  0.4116,
         0.9022,  0.9369,  0.6632,  0.5752,  0.9960,  1.0000,  0.8730,  0.9137,
        -0.1770, -0.1878,  0.3395,  0.2875, -0.1581, -0.1290,  0.7098,  0.7373,
         0.4084,  0.2772,  0.8542,  0.7804,  0.7109,  0.7056,  1.0599,  1.0510,
        -0.1981, -0.1148,  0.9883,  1.0372, -0.2463, -0.0772,  1.0460,  1.0307,
         0.5841,  0.6339, -0.1393, -0.1059,  0.5313,  0.5460,  0.4884,  0.4918,
         0.8155,  0.7747,  0.2420,  0.1680,  0.4885,  0.4379,  0.7279,  0.6870,
         0.3601,  0.3981,  0.8771,  0.8429,  1.1669,  1.2007,  0.4283,  0.3896,
         0.8630,  0.8841,  0.7839,  0.7293,  0.8056,  0.8048,  1.0230,  0.9863,
         0.5420,  0.5578,  0.7089,  0.6974,  0.9342,  0.9776,  0.6135,  0.5193,
         0.5069,  0.4413,  0.6677,  0.6176,  0.9695,  1.0224,  1.0964,  1.0979,
         1.1129,  1.1336,  0.6366,  0.6381,  1.2149,  1.2375,  0.5950,  0.6972,
         1.0926,  1.0827,  0.6969,  0.6121,  0.6702,  0.6612,  0.2028,  0.1907,
         0.7987,  0.7943,  0.5293,  0.6295,  0.2856,  0.3004,  0.9219,  0.8926,
         0.6595,  0.6370,  0.2610,  0.2891,  0.3903,  0.4091,  0.9114,  0.9755,
         0.9959,  0.9726,  0.4179,  0.3917,  0.5590,  0.6370,  1.0393,  1.0464,
         0.0563,  0.0419,  0.3682,  0.4426,  0.4145,  0.4453,  0.6956,  0.6624,
         0.2308,  0.1507, -0.1475, -0.1384,  1.1553,  1.1485,  0.9482,  0.9928,
         1.0105,  0.9823,  0.3148,  0.1890,  1.0587,  1.0223,  0.8937,  0.9489,
         0.5418,  0.4403,  0.9014,  0.8397,  1.0171,  0.9605,  0.7964,  0.7635,
         0.5014,  0.4473,  0.9131,  0.9314,  0.2784,  0.2611,  0.7157,  0.6215,
         0.9734,  0.9399,  0.8269,  0.8363,  0.7926,  0.6892, -0.1384, -0.1558,
         0.8531,  0.7734,  0.8034,  0.8813, -0.2096, -0.1184,  0.8282,  0.7774,
        -0.1621, -0.1466,  1.1368,  1.1497,  0.9215,  0.9893,  0.3712,  0.2277,
         0.1110,  0.1218,  1.0419,  1.0366,  0.3943,  0.3616,  0.6830,  0.6282,
         0.4178,  0.3641,  0.4603,  0.3404,  0.8286,  0.8389,  0.4732,  0.3855,
         0.8889,  0.9134,  0.6873,  0.7037,  1.0179,  0.9774, -0.1129, -0.0971,
         1.2212,  1.2437,  0.3248,  0.4114,  0.8786,  0.7778,  0.5796,  0.4960,
        -0.1896, -0.1044,  1.2166,  1.2294,  0.6412,  0.5727,  0.7053,  0.7177,
         0.5558,  0.5531, -0.1769, -0.1852,  0.4760,  0.4840,  1.0602,  1.0601,
         0.7514,  0.7405,  1.0106,  0.9978,  0.6849,  0.7577,  0.8981,  0.8620,
         0.5368,  0.5000,  0.4584,  0.4819,  0.3847,  0.3179,  0.5722,  0.5651,
         0.3509,  0.2861,  0.6339,  0.6210,  0.8807,  0.8366,  0.7097,  0.5773,
         0.7998,  0.8086,  0.7659,  0.7838,  1.2555,  1.3311,  0.8529,  0.8951,
         1.0144,  0.9720,  1.1001,  1.0971,  0.6752,  0.6638,  1.0526,  1.0925,
         0.9273,  0.9387,  1.1330,  1.1763,  1.0277,  1.0164,  0.7351,  0.7855,
        -0.2537, -0.0520,  0.3248,  0.4114,  0.9946,  1.0612,  1.1442,  1.1567,
         0.7053,  0.7455,  0.5880,  0.6623,  0.9824,  1.0163,  1.1963,  1.2177,
         0.9612,  0.9195,  0.9003,  0.9023,  1.2606,  1.1925,  0.3191,  0.4028,
         0.8587,  0.7798,  0.6878,  0.5544, -0.1315, -0.1298,  0.9200,  0.9464,
         0.7880,  0.7981,  0.6999,  0.7331,  0.9513,  0.9843,  0.8124,  0.8059,
        -0.2133, -0.1465,  0.4585,  0.4891,  0.6531,  0.6878,  0.6821,  0.7789,
         0.9216,  0.9694,  0.5739,  0.5369,  0.8053,  0.7781,  1.0163,  1.0579,
         1.0377,  1.1158,  0.7418,  0.6932,  1.1221,  1.0946,  0.6643,  0.6673,
         0.4821,  0.5406,  0.9982,  1.0639,  0.4905,  0.4119,  1.0370,  1.0858,
        -0.1818, -0.1161, -0.1574, -0.1478, -0.0942, -0.1055,  1.0722,  1.1117,
         0.9227,  0.8798, -0.2148, -0.1206,  1.1601,  1.2510,  0.6212,  0.6623,
         0.7796,  0.7016, -0.2375, -0.0811,  1.1195,  1.0896, -0.1827, -0.1481,
         0.7112,  0.7043,  1.0140,  1.0347,  1.1183,  1.1458,  0.4534,  0.5441,
         1.0679,  1.0636,  0.9219,  0.9390,  0.4679,  0.4003,  0.9568,  0.9981,
         0.4738,  0.4721,  0.4244,  0.3894,  0.6988,  0.7146,  0.5130,  0.5100,
         0.9153,  0.9296,  0.7627,  0.7218,  0.6445,  0.6576,  1.0833,  1.1353,
         0.9750,  1.0244,  0.8862,  0.8229,  0.6423,  0.6503,  1.0842,  1.0822,
         0.8634,  0.8981,  0.6988,  0.7112,  0.9269,  0.9662, -0.2033, -0.1594,
         0.6424,  0.6806,  0.6821,  0.7789,  0.5221,  0.4059,  0.8796,  0.8875,
         0.8235,  0.7303,  0.1719,  0.0979,  1.2790,  1.3252,  0.7156,  0.6871,
         1.0913,  1.1091,  0.5937,  0.6144,  1.0824,  1.1065,  0.6224,  0.5829,
         1.0209,  0.9907,  0.3333,  0.1979,  0.7248,  0.6604, -0.1331, -0.1808,
         0.0999,  0.0548,  0.6780,  0.6620,  0.1370,  0.1739, -0.1356, -0.1082,
         0.3700,  0.3703, -0.1256, -0.1601,  0.4881,  0.4790,  1.0628,  1.0501,
         0.3598,  0.2217,  0.6157,  0.5988,  0.5258,  0.5077],
       grad_fn=<ReshapeAliasBackward0>)

In [9]:
list = [18,0,0,0,0,4,4,2,1,6]
test_data = torch.FloatTensor([[18,0,0,0,0,4,4,2,1,6]])

predict = model(test_data)
predict # 인덱스 0이 크면 불합격, 인덱스 1이 크면 합격

tensor([[0.2189, 0.1555]], grad_fn=<AddmmBackward0>)