In [35]:
# csv 파일 불러오기

import pandas as pd
import csv

# 파일명
file_name = 'student.csv'
data = pd.read_csv(file_name)

# 데이터 크기 확인 395개의 데이터 29개의 특징, 1개의 라벨데이터
data.shape

(395, 30)

In [36]:
# 상위 5개 데이터 확인
data.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1

In [37]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3', 'pass'],
      dtype='object')

In [38]:
# 필요한 데이터 전처리
X_data = data.loc[:, ['age','activities','famsup','paid','internet','Medu','Fedu','studytime','schoolsup','G3']]
y_data = data['pass']

# 훈련데이터 크기 확인
X_data.shape, y_data.shape
X_data.head(10)

,age,activities,famsup,paid,internet,Medu,Fedu,studytime,schoolsup,G3
0,18,0,0,0,0,4,4,2,1,6
1,17,0,1,0,1,1,1,2,0,6
2,15,0,0,1,1,1,1,2,1,10
3,15,1,1,1,1,4,2,3,0,15
4,16,0,1,1,0,3,3,2,0,10
5,16,1,1,1,1,4,3,2,0,15
6,16,0,0,0,1,2,2,2,0,11
7,17,0,1,0,0,4,4,2,1,6
8,15,0,1,1,1,3,2,2,0,19
9,15,1,1,1,1,3,4,2,0,15

In [39]:
y_data.head(10)

0    0
1    0
2    1
3    1
4    1
5    1
6    1
7    0
8    1
9    1
Name: pass, dtype: int64

In [40]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torchvision import datasets
from torch.utils.data import TensorDataset, DataLoader

# 토치 플롯 텐서로 변환 - 훈련 데이터
X_train = torch.FloatTensor(X_data.values[10:])
y_train = torch.FloatTensor(y_data.values[10:]).long()

# 토치 플롯 텐서로 변환 - 테스트 데이터
X_test = torch.FloatTensor(X_data.values[:10])
y_test = torch.FloatTensor(y_data.values[:10]).long()

# 데이터 크기 확인, 훈련데이터 385, 테스트 데이터 10
X_train.shape, y_train.shape, X_test.shape, y_test.shape

(torch.Size([385, 10]),
 torch.Size([385]),
 torch.Size([10, 10]),
 torch.Size([10]))

In [41]:
# 학습용 딥러닝 모델 클래스 생성
class FC_NN(nn.Module):
    def __init__(self):
        super(FC_NN, self).__init__()
        self.input_layer = nn.Linear(10, 5)
        self.hidden_layer = nn.Linear(5, 2)
    def forward(self, x):
        x = self.input_layer(x)
        x = F.relu(x)
        output = self.hidden_layer(x)
        
        return output

# 모델 생성, 모델 옵션 지정    
model = FC_NN()
loss_fn = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.05)
epochs = 1000

In [42]:
# 학습 단계
for epoch in range(epochs):
    optimizer.zero_grad()
    prediction = model(X_train)
    loss = loss_fn(prediction, y_train)
    loss = F.cross_entropy(prediction, y_train) #
    loss.backward()
    optimizer.step()
    if (epoch+1) % 10 == 0:
        print(f'Epoch: {epoch+1}, Loss: {loss : .4f}')

Epoch: 10, Loss:  0.5059
Epoch: 20, Loss:  0.3611
Epoch: 30, Loss:  0.2372
Epoch: 40, Loss:  0.1605
Epoch: 50, Loss:  0.1164
Epoch: 60, Loss:  0.0926
Epoch: 70, Loss:  0.0783
Epoch: 80, Loss:  0.0691
Epoch: 90, Loss:  0.0628
Epoch: 100, Loss:  0.0582
Epoch: 110, Loss:  0.0546
Epoch: 120, Loss:  0.0517
Epoch: 130, Loss:  0.0493
Epoch: 140, Loss:  0.0473
Epoch: 150, Loss:  0.0455
Epoch: 160, Loss:  0.0439
Epoch: 170, Loss:  0.0424
Epoch: 180, Loss:  0.0411
Epoch: 190, Loss:  0.0399
Epoch: 200, Loss:  0.0387
Epoch: 210, Loss:  0.0376
Epoch: 220, Loss:  0.0366
Epoch: 230, Loss:  0.0356
Epoch: 240, Loss:  0.0346
Epoch: 250, Loss:  0.0336
Epoch: 260, Loss:  0.0327
Epoch: 270, Loss:  0.0318
Epoch: 280, Loss:  0.0309
Epoch: 290, Loss:  0.0300
Epoch: 300, Loss:  0.0292
Epoch: 310, Loss:  0.0283
Epoch: 320, Loss:  0.0275
Epoch: 330, Loss:  0.0266
Epoch: 340, Loss:  0.0258
Epoch: 350, Loss:  0.0250
Epoch: 360, Loss:  0.0242
Epoch: 370, Loss:  0.0234
Epoch: 380, Loss:  0.0226
Epoch: 390, Loss:  0.0218
Epoch: 400, Loss:  0.0210
Epoch: 410, Loss:  0.0203
Epoch: 420, Loss:  0.0195
Epoch: 430, Loss:  0.0188
Epoch: 440, Loss:  0.0181
Epoch: 450, Loss:  0.0174
Epoch: 460, Loss:  0.0167
Epoch: 470, Loss:  0.0160
Epoch: 480, Loss:  0.0154
Epoch: 490, Loss:  0.0147
Epoch: 500, Loss:  0.0141
Epoch: 510, Loss:  0.0135
Epoch: 520, Loss:  0.0130
Epoch: 530, Loss:  0.0124
Epoch: 540, Loss:  0.0119
Epoch: 550, Loss:  0.0114
Epoch: 560, Loss:  0.0109
Epoch: 570, Loss:  0.0104
Epoch: 580, Loss:  0.0100
Epoch: 590, Loss:  0.0095
Epoch: 600, Loss:  0.0091
Epoch: 610, Loss:  0.0087
Epoch: 620, Loss:  0.0083
Epoch: 630, Loss:  0.0080
Epoch: 640, Loss:  0.0076
Epoch: 650, Loss:  0.0073
Epoch: 660, Loss:  0.0070
Epoch: 670, Loss:  0.0067
Epoch: 680, Loss:  0.0064
Epoch: 690, Loss:  0.0062
Epoch: 700, Loss:  0.0059
Epoch: 710, Loss:  0.0057
Epoch: 720, Loss:  0.0055
Epoch: 730, Loss:  0.0052
Epoch: 740, Loss:  0.0050
Epoch: 750, Loss:  0.0048
Epoch: 760, Loss:  0.0047
Epoch: 770, Loss:  0.0045
Epoch: 780, Loss:  0.0043
Epoch: 790, Loss:  0.0042
Epoch: 800, Loss:  0.0040
Epoch: 810, Loss:  0.0039
Epoch: 820, Loss:  0.0037
Epoch: 830, Loss:  0.0036
Epoch: 840, Loss:  0.0035
Epoch: 850, Loss:  0.0034
Epoch: 860, Loss:  0.0032
Epoch: 870, Loss:  0.0031
Epoch: 880, Loss:  0.0030
Epoch: 890, Loss:  0.0029
Epoch: 900, Loss:  0.0028
Epoch: 910, Loss:  0.0028
Epoch: 920, Loss:  0.0027
Epoch: 930, Loss:  0.0026
Epoch: 940, Loss:  0.0025
Epoch: 950, Loss:  0.0024
Epoch: 960, Loss:  0.0024
Epoch: 970, Loss:  0.0023
Epoch: 980, Loss:  0.0022
Epoch: 990, Loss:  0.0022
Epoch: 1000, Loss:  0.0021

In [43]:
# 학습 검증 단계
import numpy as np

# 테스트 데이터를 넣으면 합격할 확률을 알려준다.
def model_predict(data):
    # 모델에 값 예측
    pred = model(data)
    print(type(data))
    # softmax로 확률로 변경
    for i, j in pred:
        one = np.array([i.item(), j.item()])
        exp_one = np.exp(one)
        sum_exp = np.sum(exp_one)
        output = exp_one / sum_exp
    
    return 100*output[1]

In [49]:
#테스트 데이터로 합격할 확률과 결과 비교하기
# for i, j in zip(X_test, y_test):
#     i = i.view(-1,10)
#     print(f"라벨 데이터가 {j} 인 학생의 합격할 확률은 {model_predict(i) : .2f} % 입니다.")

list = [15,0,0,1,1,1,1,2,1,9.9]
new_var = torch.FloatTensor([list])

# list = [18,0,0,0,0,4,4,2,1,6]
# # print(f"라벨 데이터가 20 인 학생의 합격할 확률은 {model_predict(list) : .2f} % 입니다.")


print(f"라벨 데이터가 9인 학생의 합격할 확률은 {model_predict(new_var) : .2f} % 입니다.")

<class 'torch.Tensor'>
라벨 데이터가 9인 학생의 합격할 확률은  99.99 % 입니다.